

.navbar-dark .navbar-brand {
    color: red;
}

h1.display-4 {
    padding:40px;
    color: white;
    font-family: 'Cinzel', serif;
    font-size: 50px;
}

.jumbotron {
    background-image: url(elliot_london.jpg);
    background-attachment: fixed;
    background-size:cover;
    
}

.headimage {
    height:80px;
}

h2 {
    color: black;
    font-family: 'Cinzel', serif;
    font-size: 30px;
}

.nav-link {
    color: grey;
}

p {
    padding: 40px;
    color: white;
    font-size: 20px;
}

h3 {
    color: white;
    font-size: 20px;
    margin: 50px;
}

.worldmap {
    height: 400px;
}